extends layout

block content
  h1 Adapter

  each model in models
      div(class='row')
          div(class="col-md-12")
            button(class='btn btn-primary')
                span(class='badge badge-primary')= model.count
                span= ' ' + model.name


